.full-screen {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.48);
  position: fixed;
  z-index: 999;

  left: 0;
  top: 0;
}

.modale {
  background-color: white;
  padding: 32px 48px;
  border-radius: 8px;
  position: relative;
  text-align: center;
  margin: 0 24%;
  top: 50%;
  transform: translateY(-50%);
}

.round-button {
  position: absolute;
  top: -24px;
  right: -24px;
}

.full-screen[data-display="false"] {
  display: none;
}

.full-screen[data-display="true"] {
  display: initial;
}
